body {
    font-family: "Trirong", serif;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    background-color: #1d4d72;
}

h2 {
    color: #000;
}
p {
    color: #000;
    line-height: 1.4;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: center;
}
.scenario {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

img {
    max-width: 300px;
    height: auto;
    height: auto;
    margin-bottom: 20px;
}

:root {
    --main-color: #000;
    --secondary-color: #1d4d72;
    --accent-color: #fff;
    --link-color: #0000ff;
    --footer-color: #ffff00;
}

.main-color {
    color: var(--main-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.accent-color {
    color: var(--accent-color);
}

.links-color {
    color: var(--link-color);
}

.rights {
    color: var(--footer-color);
}

.color-schema {
    background-color: #A9A9A9;
}

