@media screen and (max-width: 768px) {
    body {
        font-size: 0.7rem;
    }
    #menu {
        font-size: 1.7rem;
        border: 1px solid rgba(0,0,0,.3);
        padding: 2px 5px 2px;
        background-color: #eee;
        color: #000;
        position: absolute;
        top: -5.2rem;
        right: 2rem;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "✖️";
    }

    nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        color: #000;
        align-content: center;
        position: absolute;
        top: 7.7rem;
        right: 0;
        width: 100%;
        z-index: 1;
    }

    nav ul {
        background-color: black;
    }

    nav ul li {
        display: none;
    }

    nav li a {
        font-size: 1rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    nav li a:hover {
        background-color: #bbb;
        color: #000;
        font-weight: 700;
        padding: 0;
    }

    .open li {
        display: block;
        width: 100%;
    }

    .open li a {
        display: block;
    }

    ul li {
        font-size: 0.6rem;
    }

    .wallpaper {
        position: relative;
    }
    
    .floating-element {
        position: absolute;
        top: 30%;
        left: 20%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 1);
        padding: 10px 20px; 
        border-radius: 5px; 
        list-style: none;
    }
    
    .floating-element a {
        margin: 0;
        text-align: center;
        color: white;
        text-decoration: none;
    }
    
    .floating-element:hover {
        opacity: 0.7;
    }

    .card-container .card {
        margin: 15px;
    }

    .card-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .card {
        flex: 1;
    }

    .card:nth-child(1) {
        width: auto;
    }

    .card:nth-child(2) {
        width: auto;
    }

    main h2 {
        display: none;
    }

    .card-review {
        display: flex;
    }

    .card {
        border: 1.5px solid lightgray;
        margin: 15px;
    }
    
    .card-review .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border: none;
        margin: 0;
    }

    .footer-content {
        display: flex; 
        flex-direction: row;
        align-items: center;
    }

    .footer-content p {
        padding: 0 5px;
    }

    .footer-content img {
        padding-left: 10px;
    }
}