/* Reset some default styles */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Closeable Message styles*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#closeable-message {
    background-color: #ffaa33;
    color: #000;
    padding: 10px;
    text-align: center;
    /* display: none; */
    position: relative;
}

#close-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    transform: translateY(-50%);
}

#close-button:hover {
    color: #555;
}

/* Header Section styles */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 48px;
    filter: brightness(0) invert(1);
}

.logo-container img:hover {
    filter: brightness(1) invert(0);
    transition: filter .3s ease;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: .7rem;
}

h1 a:hover {
    background-color: transparent !important;
    color: #ffaa33;
    transition: color .3s ease;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;

}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color .3s ease;
}

.nav-link.active {
    text-decoration: underline;
    color: #ffaa33;
}

.nav-link:hover {
    background-color: #555;
}


/* Facebook styles */
.fa {
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #0866FF;
    color: white;
    font-size: 3rem;
}

.fa:hover {
    opacity: .7;
}

/* CTA styles */
section {
    position: relative;
}

.cta {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.cta h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.cta p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta a.cta-link {
    display: inline-block;
    background-color: #ffaa33;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.cta a:hover {
    background-color: #ff8800;;
}

/* Carousel styles */
.carousel {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper {
    width: 400%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25%, 30% {
        transform: translateX(0);
    }
    50%, 55% {
        transform: translateX(-25%);
    }
    75%, 80% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-75%);
    }
}

.wrapper img {
    width: 25%;
    object-fit: cover;
}

main {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Types of Rentals Section styles */
#rentals,
#weather {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

#rentals h2 {
    text-align: center;
}

.rental-category {
    margin: 20px;
}

/* Weather Section styles */
#weather {
    text-align: center;
}

.forecast-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.forecast-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: calc(33.33% - 20px); 
    text-align: center;
}

.weather-info,
.weather-forecast {
    margin-bottom: 20px;
}

.weather-info h2,
.weather-forecast h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.weather-info p,
.weather-forecast p {
    margin: 10px 0;
}

#current-temp {
    font-size: 2em;
    font-weight: bold;
}

#weather-icon {
    margin-top: 10px;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-info {
    flex: 1;
    text-align: center;
}

.footer-info .logo-container {
    display: block;
}

.footer-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 a:hover {
    background-color: transparent !important;
    color: #ffaa33;
    transition: color .3s ease;
}

.footer-info p {
    font-size: 1em;
}

.social-icons {
    flex: 1;
    display: flex;
    justify-content: center;
}

.copyright {
    margin-top: 20px;
    font-size: .8em;
}

/* RENTALS PAGE */
/* Pricing Table styles */
#rental-image-1 {
    width: 100px;
}

#rental-image-2 {
    width: 90px;
}

#rental-image-3 {
    width: 120px;
}

#rental-image-4 {
    width: 110px;
}

#rental-image-5 {
    width: 120px;
}

#rental-image-6 {
    width: 130px;
}

#pricing-table {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-align: center;
}

caption {
    padding: 10px;
    caption-side: top;
    background-color: #ffaa33;
    color: #000;
    font-size: x-large;
    font-weight: bold;
}

thead th {
    background-color: #333;
    color: white;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

td, th {
    padding: 10px;
    border: 1px solid #555;
}

th {
    background-color: #555;
    font-size: larger;
}

th:first-child {
    background-color: #333;
}

/* RESERVATIONS PAGE */
/* Rental Services and Agreements Section styles */
#rental-services {
    background-color: #f9f9f9;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

#rental-services h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#rental-services ul {
    list-style-type: none;
    padding: 0;
}

#rental-services li {
    font-size: 1.2em;
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px; 
}

#rental-services li::before {
    content: '\2022'; 
    position: absolute;
    left: 0;
    color: #ffaa33;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #000;
    border-radius: .5rem;
    margin: 20px 0;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5em;
}

label {
    font-size: 1.2em;
    margin-bottom: 5px;
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ffaa33;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background-color: #ff8800;
}


/* CONTACT PAGE */
/* Contact Section styles */
#contact {
    padding: 20px 0;
    text-align: center;
}

.contact-info,
.contact-form {
    margin-bottom: 30px;
}

.contact-info h2,
.contact-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2em;
}

iframe {
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

/* Contact Form styles */
#contactForm {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

fieldset {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* THANKS RESERVATIONS AND CONTACT PAGES */
/* Thank You Message Styles */
.main-thanks-reservations,
.main-thanks-contact {
    display: block;
    text-align: center;   
    margin: 50px auto; 
}

.main-thanks-reservations h1,
.main-thanks-contact h1 {
    color: #333;
}

.thank-you-message {
    font-size: 1.2em;
    margin-top: 20px;
    color: #333;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }

    .cta {
        position: static;
        padding: 20px;
        text-align: center;
    }

    .cta-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        overflow: hidden;
    }

    .wrapper {
        width: 400%;
        display: flex;
        animation: slide 16s infinite;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        25%, 30% {
            transform: translateX(0);
        }
        50%, 55% {
            transform: translateX(-50%);
        }
        75%, 80% {
            transform: translateX(-95%);
        }
        100% {
            transform: translateX(-145%);
        }
    }

    .wrapper img {
        flex: 1;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    #rentals,
    #weather {
        max-width: 400px;
        margin: 20px 0;
    }

    footer {
        padding: 20px;
    }

    .footer-info p {
        color: white;
    }

    /* RENTALS PAGE */
    #pricing-table {
        width: 100%;
        padding: 0;
        font-size: x-small;
    }

    caption {
        font-size: large;
    }

    #rental-image-1 {
        width: 50px;
    }
    
    #rental-image-2 {
        width: 45px;
    }
    
    #rental-image-3 {
        width: 60px;
    }
    
    #rental-image-4 {
        width: 55px;
    }
    
    #rental-image-5 {
        width: 60px;
    }
    
    #rental-image-6 {
        width: 65px;
    }

    /* CONTACT PAGE */
    iframe {
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    #rentals, 
    #weather {
        width: 300px;
    }

    #main-reservations {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    #rental-services,
    form {
        width: 80%;
        max-width: none;
    }

    iframe {
        width: 600px;
    }
}